@import 'assets/main.scss' ;

.model {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    align-items: center;
    width: 100%;
    height: 5rem;
    > input {
        grid-row: 1 / 2;
        @include mini-title-font();
        color: $font-color1;
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 1px solid $color3;
        padding-left: 1rem;
    }
    > input:focus {
        outline: none
    }
    > button {
        grid-row: 1 / 2;
        @include mini-title-font();
        background-color: $color2;
        color: $color3;
        border-radius: 5px;
        border: 1px solid $color4;
        width: 100%;
        height: 100%;
    }
}